    .container-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    padding: 20px;
    }

    .hidden {
    display: none;
    }

    .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .spinner {
    width: 48px;
    height: 48px;
    margin-left: 10px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
    }
    .spinner::before , .spinner::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #b1b1b1;
    animation: prixClipFix 2s linear infinite ;
    }
    .spinner::after{
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: #ff0000;
    }

    @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
        }

    @keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    }